.header {
display: flex;
justify-content: space-between;
margin-bottom: 30px;
}

.header__left {
    /* flex: 0.5; */
    background-color: lightgray;
    color: gray;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    min-width: 60px;
    
}

.header__left > input {
    border: none;
    width: 100%;
    background-color: transparent;
    padding-left: 5px;
    border-width: 0px;
}

.header__right {
display: flex;
align-items: center;
}

.header__right > h4 {
    margin-left: 10px;
    opacity: 0.8;
}