.login {
    background-color:black;
    display: grid;
    place-items: center;
    height: 100vh;
}

.login > img {
    /* width: 40%; */
    width: 300px;
}

.login > a {
    padding:15px 20px;
    background-color: #1db954;
    border-radius: 50px;
    font-weight: 800;
    color: white;
    text-decoration: none;
}




@media screen and (max-width: 600px) {
    .login > img {
        /* width: 70%; */
        width:200px;
    }

    .login > a {
        padding:10px 20px;
        background-color: #1db954;
        border-radius: 50px;
        font-weight: 600;
        color: white;
        text-decoration: none;
        font-size: 16px;
    }

}