.sidebarOption {
    color: grey;
    height: 35px;
    transition: 200ms color ease-in;
    display: flex;
    align-items: center;

}

.sidebarOption:hover {
    color: white;
    cursor: pointer;
}

.sidebarOption__icon {
margin-right: 10px;
padding-left: 10px;
}

.sidebarOption > p {
    padding-left: 10px;
}